body
{
    
    background-image:url(https://png.pngtree.com/background/20211215/original/pngtree-cartoon-satellite-ruler-calculator-linear-education-background-picture-image_1458755.jpg);
    background-size:cover;
    background-repeat:no-repeat;

}
.outer_container{
    background-color:black;
    border-radius: 20px;
    margin-left:40%;
    width:320px;
     height:360px;
     position: absolute;
}
.inner_container{

background: linear-gradient(135deg,lightgrey 40%,rgb(8, 7, 7));
background: url(https://png.pngtree.com/background/20211215/original/pngtree-cartoon-satellite-ruler-calculator-linear-education-background-picture-image_1458755.jpg);
background-position: center; 
background-size: contain;
width: auto;
  height: auto;
  margin:10px;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  
}
#op{
    background-color: rgb(248, 240, 228);
    color:rgb(31, 20, 20);
    font-size: larger;
    font-weight: bold;
}
.line{
    width:auto;
    height:8px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ip_btn
{
    
    border:1px solid white;
    width:50px;
    height:40px;
    border-radius:15px;
    padding: 5px;
    margin: 5px;
}
.large_btn
{
    
    border:1px solid white;
    width:50px;
    height:80px;
    border-radius:15px;
    padding: 5px;
    background-color:rgb(248, 240, 228);
    margin: 5px;
}
.row_container
{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: auto;
}
button
{
    box-shadow: 0 5px #999;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(248, 240, 228)

}
button:hover
 {background-color: rgb(195, 246, 250)}

 button:active {
    background-color:rgb(227, 233, 240) ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  h1{
    text-align: center;
    padding: 20px;
    color:rgb(245, 245, 245);
    font-weight: bolder;
    margin-left: 41%;
    width:300px;
    height:80px;
    margin-top:42px;

  }
